@model TasksListViewModel

@{
    ViewData["Title"] = "Tasks with steps";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Tasks</h1>
    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Tasks with steps</h3>
        </div>

    <div>
        <partial name="_TasksList" />

    </div>
    </div>
}
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}