html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
}

.star:before {
        content: "\2605";
        position: absolute;
        visibility: visible;
    }

.star:checked:before {
    content: "\2606";
    position: absolute;
}