html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.row-disabled {
    background-color: rgb(232,232,232);
    pointer-events: none;
    width: 100%;
}
