@model TaskViewModel

<div class="card card-secondary">
<div class="card-header">
    <h3 class="card-title">Add new task</h3>
</div>
<form method="post"  asp-action="AddNewTask" asp-controller="Task">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card-body">
        <div class="form-group" data-select2-id="51">
            @*<label>Task</label>*@
            <label asp-for="Note"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-check"></i>
                    </span>
                </div>               
                <input asp-for="Note" type="text" class="form-control" name="Note" placeholder="Note">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    @*<label class="control-label">Due</label>*@
                    <label asp-for="DueDate"></label>
                    <input asp-for="DueDate" type="date" id="date"  name="DueDate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                     <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="IsImportant" class="form-check-input" name="IsImportant" type="checkbox" value="false" onchange="this.value=this.checked">
                         <label asp-for="IsImportant">Important</label>
                          <span asp-validation-for="IsImportant" class="text-danger"></span>
                        @*<label class="form-check-label">Important</label>*@
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <button title="Add new task" type="submit" class="btn btn-primary float-right">Add</button>

                </div>
            </div>
        </div>
    </div>
</form>
</div>