<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
             <a asp-controller="Tasks" asp-action="TodayTasks" class="nav-link">
                <i class="fas fa-sun"></i>
                <p>
                    Today
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Tasks" asp-action="ImportantTasks" class="nav-link">
                <i class="fas fa-exclamation"></i>
                <p>
                    Important
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Tasks" asp-action="PlannedTasks" class="nav-link">
                <i class="fas fa-calendar-check"></i>
                <p>
                    Planned
                </p>
            </a>
        </li>
        <li class="nav-item">
             <a asp-controller="Tasks" asp-action="TaskWithSteps" class="nav-link">
                <i class="fas fa-shoe-prints"></i>
                <p>
                    Task with steps
                </p>
            </a>
        </li>
        <li class="nav-item">
              <a asp-controller="Tasks" asp-action="TaskWithStatements" class="nav-link">
                <i class="fas fa-question"></i>
                <p>
                    Task with statements
                </p>
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a asp-controller="Tasks" asp-action="AllTasks" class="nav-link">
                <i class="fas fa-list"></i>
                <p>
                    All open tasks
                </p>
            </a>
        </li>
    </ul>
</nav>