<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-sun"></i>
                <p>
                    Today
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-pepper-hot"></i>
                <p>
                    Hot
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-calendar-check"></i>
                <p>
                    Planned
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-plane-arrival fa-bounce"></i>
                <p>
                    Incoming
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
        </li>
        <li class="nav-item">
            <a asp-controller="AddNewTask" asp-action="AllTasks" class="nav-link">
                <i class="fas fa-list"></i>
                <p>
                    All tasks
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>
    </ul>
</nav>